@charset "UTF-8";
:root {
  --color-primario: #181818;
  --color-secundario:#f0f0f0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-primario:#f0f0f0;
    --color-secundario:#181818;
  }
}

@media (prefers-contrast: high) {
  :root{
    --color-primario: black;
    --color-secundario: white;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
 
}

img, picture, video, iframe, figure {
  max-width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}


html {
  scroll-behavior: smooth;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
::-moz-selection {
  background-color: var(--color-primario);
  color: var(--color-secundario);
}
::selection {
  background-color:var(--color-secundario);
  color: var(--color-primario);
}
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
}
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
